@model CardType

<turbo-frame id="CardType_@Model.Id">
    <div class="bg-red-500 text-center h-10 rounded-lg flex justify-center items-center m-5">
        <span class="text-white h-fit">Lütfen Geçerli Bir Tanım Giriniz!</span>
    </div>
    <form method="post" class="flex w-full py-2">
        <div class="w-3/4 flex-col justify-items-start">
            <div>
                <input type="text" asp-for="@Model.Definition" id="Definition" class="w-full" placeholder="Tanım"/>
            </div>
            <div class="mt-2 flex justify-between">
                <label class="form-check-label w-3/4" for="IsVisitable">Ziyaret Edilebilir</label>
                <input type="checkbox" asp-for="@Model.IsVisitable" id="IsVisitable" class="checkbox"/>
            </div>
            <div class="mt-2 flex justify-between">
                <label class="form-check-label w-3/4" for="IsLocationRequired">Lokasyon Gerekli</label>
                <input type="checkbox" asp-for="@Model.IsLocationRequired" id="IsLocationRequired" class="checkbox"/>
            </div>
            <div class="mt-2 flex justify-between">
                <label class="form-check-label w-3/4" for="IsUserAccount">Kullanıcı Hesabı</label>
                <input type="checkbox" asp-for="@Model.IsUserAccount" id="IsUserAccount" class="checkbox"/>
            </div>
        </div>
        <input type="hidden" id="id" name="id" value="@Model.Id"/>
        <div class="w-1/4 flex justify-end items-start">
            <button type="submit" asp-page="/CardTypes" asp-page-handler="Add" asp-route-id="@Model.Id" class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="h-6 w-6" viewBox="0 0 500 500" xml:space="preserve">
                    <defs>
                    </defs>
                    <g transform="matrix(12.42 0 0 12.42 250 250)" id="8VkJ9XKslLW72T62BdqCj">
                        <g style="" vector-effect="non-scaling-stroke">
                            <g transform="matrix(0.1 0 0 0.1 0 0)" id="Nm1iF_65g4i43VSe4pRHZ">
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(-196.3, -196.27)" d="M 328.695 21.786 L 32.743 21.786 C 26.731 21.786 21.818 26.634 21.818 32.711 L 21.818 359.822 C 21.818 365.834 26.666 370.747 32.743 370.747 L 359.854 370.747 C 365.866 370.747 370.779 365.899 370.779 359.822 L 370.779 63.871 L 328.695 21.786 z" stroke-linecap="round"/>
                            </g>
                            <g transform="matrix(0.1 0 0 0.1 0 0)" id="ZcJ7IrQJv67wl6bas_yCl">
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(86,172,224); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(-196.3, -196.33)" d="M 43.604 65.422 L 43.604 264.145 L 115.16799999999999 264.145 C 121.17999999999999 264.145 126.09299999999999 268.99399999999997 126.09299999999999 275.07 C 126.09299999999999 281.082 121.24499999999999 285.995 115.16799999999999 285.995 L 43.604 285.995 L 43.604 313.147 L 82.392 313.147 C 88.404 313.147 93.317 317.995 93.317 324.072 C 93.317 330.149 88.469 334.997 82.392 334.997 L 45.156 334.997 C 48.324 343.207 56.211 349.09000000000003 65.455 349.09000000000003 L 327.209 349.09000000000003 C 339.233 349.09000000000003 348.995 339.32800000000003 348.995 327.30400000000003 L 348.995 81.972 C 348.995 76.154 346.668 70.594 342.595 66.52099999999999 L 326.04600000000005 49.97199999999999 C 323.13700000000006 47.06299999999999 319.45200000000006 45.12399999999999 315.50900000000007 44.15399999999999 L 315.50900000000007 118.303 C 315.50900000000007 124.315 310.66100000000006 129.228 304.58400000000006 129.228 L 88.016 129.228 C 82.004 129.228 77.09100000000001 124.38000000000001 77.09100000000001 118.30300000000001 L 77.09100000000001 43.572 L 65.455 43.572 C 53.43 43.572 43.604 53.398 43.604 65.422 z" stroke-linecap="round"/>
                            </g>
                            <g transform="matrix(0.1 0 0 0.1 0 0)" id="-s7g72PvznlAGg-lYxgyV">
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(25,79,130); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(-196.3, -196.3)" d="M 389.398 51.717 L 340.849 3.168 C 338.844 1.164 336.065 0 333.091 0 L 32.743 0 C 14.707 0 0.032 14.675 0.032 32.711 L 0.032 359.822 C 0.032 377.923 14.707 392.598 32.742999999999995 392.598 L 359.854 392.598 C 377.89 392.598 392.565 377.923 392.565 359.887 L 392.565 59.41 C 392.566 56.501 391.402 53.786 389.398 51.717 z M 98.941 21.786 L 293.656 21.786 L 293.656 107.378 L 98.941 107.378 L 98.941 21.786 z M 370.78 359.822 C 370.78 365.834 365.93199999999996 370.747 359.85499999999996 370.747 L 32.743 370.747 C 26.731 370.747 21.818 365.899 21.818 359.822 L 21.818 32.711 C 21.818 26.698999999999998 26.666 21.785999999999998 32.743 21.785999999999998 L 77.155 21.785999999999998 L 77.155 118.368 C 77.155 124.38 82.003 129.293 88.08 129.293 L 304.581 129.293 C 310.593 129.293 315.50600000000003 124.44500000000001 315.50600000000003 118.36800000000001 L 315.50600000000003 21.786 L 328.694 21.786 L 370.779 63.871 L 370.78 359.822 L 370.78 359.822 z" stroke-linecap="round"/>
                            </g>
                            <g transform="matrix(0.1 0 0 0.1 0 3.07)" id="tv0xA5IXXsk4_nqi5s6L9">
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(236,236,236); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(-196.3, -226.97)" d="M 196.299 179.006 C 169.794 179.006 148.33100000000002 200.53300000000002 148.33100000000002 226.974 C 148.33100000000002 253.47899999999998 169.858 274.942 196.29900000000004 274.942 C 222.80400000000003 274.942 244.26700000000005 253.41500000000002 244.26700000000005 226.974 C 244.26700000000005 200.53299999999996 222.804 179.006 196.299 179.006 z" stroke-linecap="round"/>
                            </g>
                            <g transform="matrix(0.1 0 0 0.1 0 -13.17)" id="rukRVWulo3qPIgnYlcwq7">
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(81,179,218); fill-opacity: 0; fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(-97.36, -42.8)" d="M 0 85.592 L 0 0 L 194.715 0 L 194.715 85.592 z" stroke-linecap="round"/>
                            </g>
                            <g transform="matrix(0.1 0 0 0.1 0 3.08)" id="bOlOQZYTwyK_iQl8l2DxB">
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(25,79,130); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(-196.3, -227.1)" d="M 196.299 157.22 C 157.834 157.22 126.41600000000001 188.50900000000001 126.41600000000001 227.103 C 126.41600000000001 265.568 157.705 296.986 196.299 296.986 C 234.764 296.986 266.182 265.697 266.182 227.103 C 266.182 188.50900000000001 234.764 157.22 196.299 157.22 z M 196.299 275.071 C 169.794 275.071 148.33100000000002 253.54400000000004 148.33100000000002 227.103 C 148.33100000000002 200.598 169.858 179.135 196.29900000000004 179.135 C 222.80400000000003 179.135 244.26700000000005 200.66199999999998 244.26700000000005 227.103 C 244.26700000000005 253.54400000000004 222.804 275.071 196.299 275.071 z" stroke-linecap="round"/>
                            </g>
                            <g transform="matrix(0.1 0 0 0.1 5.89 -13.16)" id="Y__yEFYYSd3nBia7C3F7Q">
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(25,79,130); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(-255.19, -64.65)" d="M 255.192 35.232 C 249.18 35.232 244.267 40.08 244.267 46.157 L 244.267 83.13499999999999 C 244.267 89.14699999999999 249.115 94.05999999999999 255.192 94.05999999999999 C 261.204 94.05999999999999 266.117 89.21199999999999 266.117 83.13499999999999 L 266.117 46.093 C 266.182 40.081 261.204 35.232 255.192 35.232 z" stroke-linecap="round"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </button>
            <a class="inline-block mr-2" asp-page="/CardTypes">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="h-6 w-6" viewBox="0 0 500 500" xml:space="preserve">
                    <defs>
                    </defs>
                    <g transform="matrix(0.97 0 0 0.97 250.3 250.3)" id="xoVyBxTVTUvGyUY3uZkqw">
                        <g style="" vector-effect="non-scaling-stroke">
                            <g transform="matrix(1 0 0 1 -119.28 0)" id="JwahbUE2fjmzMzLt0lG2R">
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(244,178,176); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(-136.72, -256)" d="M 256.001 158.605 L 114.83299999999997 17.436999999999983 L 17.43699999999997 114.82999999999998 L 158.60499999999996 255.99999999999997 L 17.436999999999955 397.16999999999996 L 114.83299999999996 494.563 L 255.60299999999995 353.793 L 256.001 353.395 z" stroke-linecap="round"/>
                            </g>
                            <g transform="matrix(1 0 0 1 0 0)" id="dbwUoDDfHBN7qL6sOgoW4">
                                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(179,64,74); fill-rule: nonzero; opacity: 1;" vector-effect="non-scaling-stroke" transform=" translate(-256, -256)" d="M 378.055 256 L 506.895 127.161 C 513.704 120.352 513.704 109.311 506.895 102.50200000000001 L 409.498 5.105 C 402.691 -1.702 391.64799999999997 -1.702 384.839 5.105 L 256.001 133.944 L 127.162 5.105 C 126.73700000000001 4.680000000000001 126.29400000000001 4.28 125.837 3.9090000000000007 C 122.643 1.303 118.737 0 114.833 0 C 112.601 0 110.371 0.425 108.27199999999999 1.276 C 106.17299999999999 2.127 104.20599999999999 3.4029999999999996 102.50399999999999 5.105 L 5.108 102.503 C -1.7010000000000005 109.312 -1.7010000000000005 120.35300000000001 5.108 127.162 L 133.948 256 L 5.108 384.839 C -1.7010000000000005 391.648 -1.7010000000000005 402.689 5.108 409.498 L 102.503 506.893 C 105.908 510.29699999999997 110.37 512 114.832 512 C 119.294 512 123.758 510.296 127.161 506.893 L 267.932 366.121 L 268.33000000000004 365.72299999999996 C 268.74300000000005 365.30999999999995 269.13200000000006 364.87899999999996 269.49800000000005 364.431 C 269.77500000000003 364.091 270.02500000000003 363.73699999999997 270.27400000000006 363.383 C 270.35100000000006 363.27099999999996 270.44000000000005 363.169 270.51500000000004 363.055 C 270.80400000000003 362.623 271.064 362.178 271.31000000000006 361.726 C 271.33400000000006 361.682 271.3620000000001 361.641 271.38700000000006 361.597 C 271.6310000000001 361.138 271.84900000000005 360.671 272.05000000000007 360.197 C 272.0710000000001 360.15 272.0950000000001 360.105 272.11500000000007 360.056 C 272.30000000000007 359.606 272.45900000000006 359.149 272.6050000000001 358.68899999999996 C 272.6310000000001 358.60699999999997 272.6640000000001 358.52899999999994 272.69000000000005 358.44499999999994 C 272.81700000000006 358.0229999999999 272.91700000000003 357.59599999999995 273.0110000000001 357.1669999999999 C 273.0390000000001 357.0379999999999 273.07900000000006 356.91399999999993 273.1050000000001 356.7849999999999 C 273.18500000000006 356.37999999999994 273.23600000000005 355.9709999999999 273.28800000000007 355.56299999999993 C 273.3070000000001 355.40599999999995 273.3400000000001 355.25299999999993 273.35600000000005 355.09599999999995 C 273.40700000000004 354.57099999999997 273.43100000000004 354.04299999999995 273.434 353.51599999999996 C 273.434 353.47599999999994 273.439 353.436 273.439 353.39599999999996 L 273.439 165.829 L 397.171 42.095 L 469.908 114.832 L 341.068 243.671 C 334.25899999999996 250.48 334.25899999999996 261.521 341.068 268.332 L 469.908 397.171 L 397.17100000000005 469.908 L 336.76400000000007 409.50100000000003 C 329.95500000000004 402.692 318.91400000000004 402.692 312.10300000000007 409.50100000000003 C 305.29400000000004 416.31000000000006 305.29400000000004 427.35100000000006 312.10300000000007 434.16200000000003 L 384.84000000000003 506.899 C 388.245 510.303 392.70700000000005 512.006 397.16900000000004 512.006 C 401.63100000000003 512.006 406.095 510.30199999999996 409.49800000000005 506.89899999999994 L 506.89300000000003 409.50399999999996 C 513.702 402.69499999999994 513.702 391.65399999999994 506.89300000000003 384.84499999999997 L 378.055 256 z M 170.937 268.329 C 177.746 261.52 177.746 250.479 170.937 243.668 L 42.096 114.83 L 114.833 42.093 L 238.565 165.82600000000002 L 238.565 346.17100000000005 L 114.833 469.905 L 42.096000000000004 397.168 L 170.937 268.329 z" stroke-linecap="round"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </form>
</turbo-frame>